# Server Port
PORT=5000

# Email Configuration (Basic SMTP)
# EMAIL_USER=your-email@gmail.com
# EMAIL_PASS=your-app-password

# Email Configuration (Gmail OAuth2 - Recommended)
EMAIL_USER=hello@us-executivetravel.com
CLIENT_ID=816912441965-ue09q6u0sfc0h8sl6404vpr269rjlaqp.apps.googleusercontent.com
CLIENT_SECRET=YOUR_CLIENT_SECRET
REFRESH_TOKEN=YOUR_REFRESH_TOKEN

# Admin Credentials
ADMIN_PASSWORD=admin123

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
